/*
these make the a tr wrap around, but it's not what i want
table  { display: block; }
table  td {display: inline-block; }
*/
.creadr-body {
  background-color: #fafafa;
  border: 0;
  font-family: 'Sentinel SSm A', 'Sentinel SSm B', 'Palatino Linotype', 'Book Antiqua', 'Palatino', 'serif';
  font-size: 100%;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1em;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  width: 100%;
  word-spacing: normal;
}

.creadr-title {
  font-size: 40pt;
  font-weight: 800;
  max-width: 100%;
  overflow: visible;
  text-align: center;
  text-overflow: ellipsis;
}

.creadr-main {
  all: initial;
  background-color: #f8f8f8;
  float: left;
  line-height: 2em;
  margin-bottom: 20px;
  margin-left: 240px;
  margin-right: 40px;
  margin-top: 20px;
  text-align: initial;
  width: 60%;
}

.creadr-sidebar {
  border-bottom-left-radius: 5px;
  border-bottom: 2px solid #ccc;
  border-left: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top: 1px solid #ccc;
  float: right;
  font-size: 16pt;
  height: 400px;
  overflow: auto;
  padding: 20px;
  position: fixed;
  right: 0;
  text-align: left;
  top: 200px;
  width: 15%;
}

.creadr-sidebar-content p {
  line-height: 1.3;
  margin: 0;
}

#creadr-loadingDiag {
  background-color: #99cc99;
  display: none;
  font-size: 20pt;
  height: 40px;
  position: absolute;
  top: 0;
  width: 100%;
}

#creadr-errDialog {
  background-color: red;
  display: none;
  font-size: 20pt;
  height: 40px;
  position: absolute;
  top: 0;
  width: 100%;
}

.creadr-cn {
  cursor: pointer;
  font-size: 24pt;
  text-align: center;
}

.creadr-py {
  font-size: 10pt;
  margin-bottom: : 3pt;
  visibility: hidden
}

.creadr-close {

}

.creadr-paragraph {
  margin: 40px;
}
