/*
these make the a tr wrap around, but it's not what i want
table  { display: block; }
table  td {display: inline-block; }
*/
body {
  background-color: #f8f8f8;
}

.cread-py, .cread-cn {
  font-size: 18pt;
  display: table;
  padding: 5pt;
  text-align: center;
}
.cread-py {
  font-size: 18pt;
  visibility: hidden
}

.cread-tile {
  display: inline-block;
  text-align: center;
  /*width: 2px;*/
  /*height: 1px;*/
}

.cread-title {
    font-size: 40pt;
    font-weight: 800;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: '"Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu, Arial, Helvetica, sans-serif';
    text-align: center;
}

.cread-paragraph {
  margin: 40px;
}

.cread-main {
  margin-top: 120px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 120px;
  background-color: #f8f8f8;
  font-family: "'Sentinel SSm A', 'Sentinel SSm B', Palatino Linotype, Book Antiqua, Palatino, serif";
  line-height: 1;
}