/*
these make the a tr wrap around, but it's not what i want
table  { display: block; }
table  td {display: inline-block; }
*/
body {
  background-color: #f8f8f8;
  font-family: 'Sentinel SSm A', 'Sentinel SSm B', 'Palatino Linotype', 'Book Antiqua', 'Palatino', 'serif';
}
.creadr-box, .creadr-box *, .creadr-title {
  width: 100%;
  /*border: 1px solid yellow;*/
  /*overflow: auto;*/

  /*all: initial;*/
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: 1em;
  /*font: inherit;*/
  vertical-align: baseline;
}

.creadr-title {
  /*border: 1px solid green;*/
  font-size: 40pt;
  font-weight: 800;
  max-width: 100%;
  overflow: visible;
  text-overflow: ellipsis;
  text-align: center;
/*  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
*/}

.creadr-main {
  width: 60%;
  float: left;
  /*border: 1px solid red;*/
  /*height: 200px;*/
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 40px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  line-height: 1;
  /*text-overflow: ellipsis;*/
}

.creadr-sidebar {
  margin: 10px 10px 0 0;
  padding: 10px;
  width: 28%;
  float: right;
  /*border: 1px solid green;*/
  height: 400px;
  right: 0;
  top: 200px;
  position: fixed;
  font-size: 16pt;
  text-align: left;
  line-height: 5px;
  overflow: scroll;
}

#creadr-loadingDiag {
  font-size: 20pt;
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
  background-color: #99cc99;
}

#creadr-errDialog {
  font-size: 20pt;
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
  background-color: red;
}
.creadr-cn {
  font-size: 24pt;
  /*display: table;*/
  /*padding: 4pt;*/
  /*margin: 4pt;*/
  text-align: center;
}
.creadr-py {
  font-size: 10pt;
  /*margin-top: 3pt;*/
  margin-bottom: : 3pt;
  visibility: hidden
}

/*span + span {
  margin-left: 10px;
}
*/
.creadr-close {

}
.creadr-paragraph {
  margin: 40px;
}
