/*
these make the a tr wrap around, but it's not what i want
table  { display: block; }
table  td {display: inline-block; }
*/
body {
  background-color: #f8f8f8;
}
.cread-box {
  width: 100%;
  border: 1px solid yellow;
  overflow: auto;
}

.cread-main {
  width: 60%;
  float: left;
  border: 1px solid red;
  /*height: 200px;*/
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 40px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  font-family: "'Sentinel SSm A', 'Sentinel SSm B', Palatino Linotype, Book Antiqua, Palatino, serif";
  line-height: 1;
}

.cread-sidebar {
  margin: 10px 10px 0 0;
  padding: 10px;
  width: 28%;
  float: right;
  border: 1px solid green;
  height: 200px;
  right: 0;
  top: 120px;
  position: fixed;
}

#errDialog {
  font-size: 20pt;
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
  background-color: red;
}
.cread-py, .cread-cn {
  font-size: 24pt;
  display: table;
  padding: 5pt;
  text-align: center;
}
.cread-py {
  font-size: 14pt;
  visibility: hidden
}

.cread-tile {
  display: inline-block;
  text-align: center;
  /*width: 2px;*/
  /*height: 1px;*/
}
/*span + span {
  margin-left: 10px;
}
*/
.cread-title {
    font-size: 40pt;
    font-weight: 800;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: '"Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu, Arial, Helvetica, sans-serif';
    text-align: center;
}

.cread-paragraph {
  margin: 40px;
}

